<app-menu/>
<main>

  <div class="banner">
    <div class="overlay"></div>
    <div class="info">
      <h2 class="subtitle">Sua Satisfação é Nossa Prioridade</h2>
      <h1 class="title">Compromisso com a Excelência</h1>
      <p class="text">Na nossa empresa de manutenção de máquinas de lavanderia, colocamos a sua satisfação em primeiro lugar. Trabalhamos incansavelmente para oferecer serviços de alta qualidade, garantindo que cada experiência conosco seja positiva e memorável. Nossos técnicos especializados estão prontos para atender às suas necessidades, assegurando que suas máquinas funcionem perfeitamente. Para nós, nada é mais importante do que ver suas máquinas em operação e um sorriso no rosto de nossos clientes satisfeitos.</p>
    </div>
  </div>
</main>
