:root {
  --title: "Roboto Serif", serif;
  --sub-title: "Roboto Slab", serif;

  --black: #1E1E1E  ;
  --yellow: #D6DA62  ;
  --green: #A1D6B2  ;
  --dark-blue: #3E6A85  ;
  --medium-blue: #75B6D2  ;
  --regular-blue: #96F7F7  ;
  --light-blue: #E9ECFF  ;
}
