<nav>
  <div class="menu-desktop-container">
    <div class="container d-flex">
      <div class="img">
        <img src="/images/util/servil.png" alt="Logo Servil">
      </div>
      <ul class="nav d-flex">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/contato">Quem Somos</a></li>
        <li><a routerLink="">Assistência Técnica</a></li>
        <li><a routerLink="">Serviços</a></li>
        <li><a routerLink="">Contato</a></li>
      </ul>
      <div class="container-button">
        <a class="button" routerLink="/">Cadastrar</a>
      </div>
    </div>
  </div>

  <div class="menu-mobile-toggle" >
    <div class="img">
      <img class="logo" src="/images/util/servil.png" alt="Logo Servil">
    </div>
    <img class="menu" src="/images/util/menu.svg" (click)="toggleMenu()" alt="Menu Icon">
  </div>

  <div class="menu-mobile-container" [ngClass]="{'d-none': !menuOpen}">
    <div class="container d-flex">
      <ul class="nav d-flex">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/contato">Quem Somos</a></li>
        <li><a routerLink="">Assistência Técnica</a></li>
        <li><a routerLink="">Serviços</a></li>
        <li><a routerLink="">Contato</a></li>
      </ul>
      <div class="container-button">
        <a class="button" routerLink="/">Cadastrar</a>
      </div>
    </div>
  </div>
</nav>
